header {
  margin-bottom: 3rem;
}

#sobre {
  margin-top: 5rem;
}

.card {
  width: 26.37rem;
  float: left;
  margin: 5px;
}

.accordion {
  margin-top: 2rem;
}

#flush-collapseThree,
.accordion-item {
  border-bottom: 1px solid black;
}

#cadastro a {
  margin-top: 2rem;
  margin-left: -0.2rem;
}

input,
select {
  margin-bottom: 1rem;
}

textarea.form-control,
input.form-control,
label.form-control {
  width: 100% !important;
  display: block;
}

h2 {
  margin-top: 3rem;
}

.label {
  margin-top: 1rem;
}

.form-check {
  margin-top: 1rem;
  margin-left: -1rem;
}

form button {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 500px) {  
  #sobre h2 {
    margin-top: 1rem;
  }

  .carousel-caption {
    height: -50px;
  }

  #sobre img {
    margin-top: 2rem;
  }

  .card {
    width: 18rem;
  }
}

